body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar {
    box-shadow: 0 4px 6px -6px #222;
}

.container {
    max-width: 800px;
}

.chatbox {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-top: 20px;
}

.input-group .form-control {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-group .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mb-2 {
    margin-bottom: 1rem;
}
